<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="bookmark">
      <ion-icon name="Bookmark"></ion-icon>
      <ion-label>Mookmarks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="message"></ion-icon>
      <ion-label>messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-rent">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Add Rent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="you">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>